.App {
  font-size: 15px;

  .container {
    max-width: 980px;
    margin: 0 auto;
    padding: 30px;

    padding-bottom: 80px;
    background-color: #FFF;
    // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}
