#ReplaceAssemblyDialog {
  input,
  select {
    padding: 0 9px;
    height: 50px;
  }

  select {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAADdgAAA3YBfdWCzAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAGbSURBVGiB7dWxSgNBEAbgf+8guVaw1cIXENRGSIJPYJEuIHYphPR3rbG43XcQLPIO8QUu2JyCL5AiXUBIkUCq27UxsEi87M7dYTNfvbM7x9zwA4wxxhhjjDHG/odwPZgkyUQIcddkM5ZJmqb3LgcD1xujKBoCyMktucs3m83Q9bDzBAAgjuPTMAzfjTHH/n05NCPEV1EUl0qphWuN8wQAQCm10FoPABTe3R1WaK0HPs0DQOj7SpZl816vFwC48a0tY4wZSylffOu8JrDTarXGxphXSu0fplEUPVEKvXbAliTJkRAiB3BGvePH3BhzJaVcUYpJEwAAKeVKa90HsKXeAWCrte5TmwcIO2CbzWbLTqezFELcEq94kFJW+hUrfQAAZFn20e12TwBc+NQJIZ7TNH2s+j75F7K12+0R/EIuX6/XozreJi/xb64hRwmrMrVMAHAOOVJYlam8A7ZDIUcNqzK1TWCnJOTIYVWmth2w7Qm5SmFVppEPAIA4js+DIHgDAK31tVLqs4l3at0BmxVy06phxRhjjDHG9vsG4sKgGps1JpAAAAAASUVORK5CYII=") 99% / 5% no-repeat ;
  }

  textarea {
    height: 100px;
  }
}
