#BreadCrumb {
  list-style-type: none;
  padding: 0;
  margin-bottom: 30px;

  button {
    border: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin-left: 9px;

    &:first-child {
      margin-left: 0px;

      &:before {
        content: '';
      }
    }

    &:before {
      content: '>';
      margin-right: 5px;
    }
  }
}
